body {
    font-family: 'Public Sans', sans-serif;
    font-size: 18px;
    color: hsl(233, 26%, 24%);
    /* margin-top: 0.5rem; */
}

button.btn-custom {
    background-image: linear-gradient(to right, #33D35E 0%, #2EC3A3 51%, #2AB6D9 100%);
    color: white;
    border: 0px solid transparent;
    padding-left: 2rem;
    padding-right: 2rem;
}

.container.header-container {
    /* padding-top: 0.5rem; */
    /* padding-bottom: 0.5rem; */
    background-color: white;
}

a.nav-link.font-color {
    color: hsl(233, 8%, 62%);
}

a.nav-link:hover {
    background-color: #2D314D;
    color: #33D35E !important;
}

h1.title-1 {
    font-size: 40px;
    padding-bottom: 20px;
}

h2.title-2 {
    font-size: 30px;
    padding-bottom: 20px;
}

h3.title-3 {
    font-size: 22px;
    padding-bottom: 20px;
}

p.content {
    font-size: 14px;
    color: hsl(233, 8%, 62%);
    padding-bottom: 20px;
    /* text-align: justify; */
}

img.background-image {
    position: relative;
    width: 100%;
}

img.smartphones {
    position: absolute;
    width: 65%;
    margin-top: 50%;
    margin-left: 50%;
    transform: translate(-190%, -60%);
}

img.feature-image {
    padding-bottom: 20px;
}

img.article-image {
    width: 100%;
    height: 12rem;
    padding-bottom: 20px;
}

div.footer-background {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #2D314D;
    color: whitesmoke;
}

div.footer-logo {
    padding-bottom: 30px;
    padding-left: 2rem;
}

i.footer-icon {
    color: white;
    font-size: 24px;
    padding-left: 2rem;
}

i.footer-icon:hover {
    color: #32d165;
    cursor: pointer;
}

a.footer-link {
    color: white;
    font-size: 14px;
    padding-bottom: 0.5rem;
}

a.footer-link:hover {
    color: #32d165;
    cursor: pointer;
}

div.footer-btn {
    padding-bottom: 0.5rem;
    padding-right: 2rem;
    justify-content: flex-end;
    align-items: flex-start;
}

p.content b {
    color: hsl(233, 26%, 24%);
    font-size: 16px;
}

div.col-md-12 {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}

div.small-screen-content {

}

@media (max-width: 576px) {
div.small-screen-content {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 0rem;
    padding-right: 0rem;
}

div.footer-icon {
    padding-bottom: 2rem;
}

img.article-image {
    width: 80%;
    height: 18rem;
    padding-bottom: 20px;
}

div#footer-button {
    align-items: center;
    justify-content: center;
    text-align: center;
}

div#footer-copyright {
    align-items: center;
    justify-content: center;
    text-align: center;
}

div.footer-btn {
    padding-bottom: 0.5rem;
    padding-right: 0rem;
    justify-content: center;
}

}